In [6]:
import pandas as pd
from chefboost import Chefboost as chef

# Football Example 1

In [8]:
df = pd.read_csv("football1.csv")
df.head()

  university home_away opponent   media Decision
0     Temple      Home      Out   1-NBC      Win
1    Georgia      Home       In   1-NBC     Lose
2     Boston      Away      Out  2-ESPN      Win
3   Michigan      Away      Out   3-Fox      Win
4  MiamiOhio      Home      Out   1-NBC      Win

In [9]:
df1 = df[df['Decision'].notnull()]
df2 = df[df['Decision'].notnull()==False]

## Build a tree using ID3
#tutorial:https://sefiks.com/2019/08/31/a-begineers-guide-to-decision-trees-in-python/

In [ ]:
#train
config = {'algorithm': 'ID3'}
model = chef.fit(df1[['home_away','opponent','media','Decision']], config)

In [5]:
#test
for index, instance in df2[['home_away','opponent','media','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    df2.at[index, 'Decision'] = [prediction]
df2

      university home_away opponent  media Decision
6            USC      Home       In  1-NBC   [Lose]
7        NCState      Home      Out  1-NBC    [Win]
8     WakeForest      Home      Out  1-NBC    [Win]
9   MiamiFlorida      Away       In  4-ABC   [Lose]
10          Navy      Home      Out  1-NBC    [Win]
11      Stanford      Away       In  4-ABC   [Lose]

## Build a tree using C4.5

In [10]:
df1 = df[df['Decision'].notnull()]
df2 = df[df['Decision'].notnull()==False]

#train
config = {'algorithm': 'C4.5'}
model = chef.fit(df1[['home_away','opponent','media','Decision']], config)

#test
for index, instance in df2[['home_away','opponent','media','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    df2.at[index, 'Decision'] = [prediction]
df2

C4.5  tree is going to be built...
Accuracy:  100.0 % on  6  instances
finished in  0.7885775566101074  seconds

      university home_away opponent  media Decision
6            USC      Home       In  1-NBC   [Lose]
7        NCState      Home      Out  1-NBC    [Win]
8     WakeForest      Home      Out  1-NBC    [Win]
9   MiamiFlorida      Away       In  4-ABC   [Lose]
10          Navy      Home      Out  1-NBC    [Win]
11      Stanford      Away       In  4-ABC   [Lose]

## Build a tree using CART

In [10]:
df1 = df[df['Decision'].notnull()]
df2 = df[df['Decision'].notnull()==False]

#train
config = {'algorithm': 'CART'}
model = chef.fit(df1[['home_away','opponent','media','Decision']], config)

#test
for index, instance in df2[['home_away','opponent','media','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    df2.at[index, 'Decision'] = [prediction]
df2

CART  tree is going to be built...
Accuracy:  100.0 % on  6  instances
finished in  0.7506108283996582  seconds

      university home_away opponent  media Decision
6            USC      Home       In  1-NBC   [Lose]
7        NCState      Home      Out  1-NBC    [Win]
8     WakeForest      Home      Out  1-NBC    [Win]
9   MiamiFlorida      Away       In  4-ABC   [Lose]
10          Navy      Home      Out  1-NBC    [Win]
11      Stanford      Away       In  4-ABC   [Lose]

# Golf Example

In [19]:
#ID3

df = pd.read_csv("play.csv")

df1 = df[df['Decision'].notnull()]
df2 = df[df['Decision'].notnull()==False]

#train
config = {'algorithm': 'ID3'}
model = chef.fit(df1[['outlook','temperature','humidity','windy','Decision']], config)

#test
for index, instance in df2[['outlook','temperature','humidity','windy','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    df2.at[index, 'Decision'] = [prediction]
df2

ID3  tree is going to be built...
Accuracy:  100.0 % on  14  instances
finished in  1.6151952743530273  seconds

    id outlook temperature humidity windy Decision
14  15   rainy         hot     high     f    [yes]

In [23]:
#C4.5

df = pd.read_csv("play.csv")

df1 = df[df['Decision'].notnull()]
df2 = df[df['Decision'].notnull()==False]

#train
config = {'algorithm': 'C4.5'}
model = chef.fit(df1[['outlook','temperature','humidity','windy','Decision']], config)

#test
for index, instance in df2[['outlook','temperature','humidity','windy','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    df2.at[index, 'Decision'] = [prediction]
df2

C4.5  tree is going to be built...
Accuracy:  100.0 % on  14  instances
finished in  1.2611160278320312  seconds

    id outlook temperature humidity windy Decision
14  15   rainy         hot     high     f    [yes]

In [25]:
#CART

df = pd.read_csv("play.csv")

df1 = df[df['Decision'].notnull()]
df2 = df[df['Decision'].notnull()==False]

#train
config = {'algorithm': 'CART'}
model = chef.fit(df1[['outlook','temperature','humidity','windy','Decision']], config)

#test
for index, instance in df2[['outlook','temperature','humidity','windy','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    df2.at[index, 'Decision'] = [prediction]
df2

CART  tree is going to be built...
Accuracy:  100.0 % on  14  instances
finished in  1.633251428604126  seconds

    id outlook temperature humidity windy Decision
14  15   rainy         hot     high     f    [yes]

# Football Example 2

In [8]:
#ID3

df1 = pd.read_csv("football2.csv")
df2 = pd.read_csv("football3.csv")

#train
config = {'algorithm': 'ID3'}
model = chef.fit(df1[['home_away','opponent','media','Decision']], config)
#test
for index, instance in df2[['home_away','opponent','media','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    df2.at[index, 'Prediction'] = prediction
df2

ID3  tree is going to be built...
Accuracy:  79.16666666666667 % on  24  instances
finished in  2.214451313018799  seconds

    id          university home_away opponent   media Decision Prediction
0   25              Temple      Home      Out   1-NBC      Win        Win
1   26             Georgia      Home       In   1-NBC     Lose       Lose
2   27       BostonCollege      Away      Out  2-ESPN      Win        Win
3   28       MichiganState      Away      Out   3-Fox      Win        Win
4   29           MiamiOhio      Home      Out   1-NBC      Win        Win
5   30       NorthCarolina      Away      Out   4-ABC      Win       Lose
6   31                 USC      Home       In   1-NBC      Win       Lose
7   32  NorthCarolinaState      Home      Out   1-NBC      Win        Win
8   33          WakeForest      Home      Out   1-NBC      Win        Win
9   34        MiamiFlorida      Away       In   4-ABC     Lose       Lose
10  35                Navy      Home      Out   1-NBC      Win        Win
11  36            Stanford      Away       In   4-ABC     Lose       Lose

In [25]:
#test

for index, instance in df2[['home_away','opponent','media','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    actual = instance['Decision']
    if actual == prediction:
        classified = True
    else:
        print('*', end = '')
    print (actual, ' - ', prediction)
    df2.at[index, 'Decision'] = prediction

Win  -  Win
Lose  -  Lose
Win  -  Win
Win  -  Win
Win  -  Win
*Win  -  Lose
*Win  -  Lose
Win  -  Win
Win  -  Win
Lose  -  Lose
Win  -  Win
Lose  -  Lose

    id          university home_away opponent   media Decision
0   25              Temple      Home      Out   1-NBC      Win
1   26             Georgia      Home       In   1-NBC     Lose
2   27       BostonCollege      Away      Out  2-ESPN      Win
3   28       MichiganState      Away      Out   3-Fox      Win
4   29           MiamiOhio      Home      Out   1-NBC      Win
5   30       NorthCarolina      Away      Out   4-ABC     Lose
6   31                 USC      Home       In   1-NBC     Lose
7   32  NorthCarolinaState      Home      Out   1-NBC      Win
8   33          WakeForest      Home      Out   1-NBC      Win
9   34        MiamiFlorida      Away       In   4-ABC     Lose
10  35                Navy      Home      Out   1-NBC      Win
11  36            Stanford      Away       In   4-ABC     Lose

In [4]:
#Calculate Accuracy, Precision, Recall, and F1 score on the testing result.
accuracy = 10/12
#precision = true positive predictions / all positive predictions
precision = 7/7
# recall = correctly predicted positive observations / all true positive observations
recall = 7/9
# F1 Score = 2*(Recall * Precision) / (Recall + Precision)
F1 = 2*(recall * precision) / (recall + precision)

print ('accuracy:', accuracy, 'precision:', precision, 'recall:', recall, 'F1:', F1)

accuracy: 0.8333333333333334 precision: 1.0 recall: 0.7777777777777778 F1: 0.8750000000000001

In [2]:
#C4.5

df1 = pd.read_csv("football2.csv")
df2 = pd.read_csv("football3.csv")

#train
config = {'algorithm': 'C4.5'}
model = chef.fit(df1[['home_away','opponent','media','Decision']], config)

#test

for index, instance in df2[['home_away','opponent','media','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    actual = instance['Decision']
    if actual == prediction:
        classified = True
    else:
        print('*', end = '')
    print (actual, ' - ', prediction)

C4.5  tree is going to be built...
Accuracy:  79.16666666666667 % on  24  instances
finished in  3.3194739818573  seconds
Win  -  Win
Lose  -  Lose
Win  -  Win
Win  -  Win
Win  -  Win
Win  -  Win
*Win  -  Lose
Win  -  Win
Win  -  Win
Lose  -  Lose
Win  -  Win
Lose  -  Lose

In [3]:
df2 = pd.read_csv("football3.csv")

for index, instance in df2[['home_away','opponent','media','Decision']].iterrows():
    prediction = chef.predict(model, instance)
    df2.at[index, 'Prediction'] = prediction
df2

    id          university home_away opponent   media Decision Prediction
0   25              Temple      Home      Out   1-NBC      Win        Win
1   26             Georgia      Home       In   1-NBC     Lose       Lose
2   27       BostonCollege      Away      Out  2-ESPN      Win        Win
3   28       MichiganState      Away      Out   3-Fox      Win        Win
4   29           MiamiOhio      Home      Out   1-NBC      Win        Win
5   30       NorthCarolina      Away      Out   4-ABC      Win        Win
6   31                 USC      Home       In   1-NBC      Win       Lose
7   32  NorthCarolinaState      Home      Out   1-NBC      Win        Win
8   33          WakeForest      Home      Out   1-NBC      Win        Win
9   34        MiamiFlorida      Away       In   4-ABC     Lose       Lose
10  35                Navy      Home      Out   1-NBC      Win        Win
11  36            Stanford      Away       In   4-ABC     Lose       Lose

In [5]:
#Calculate Accuracy, Precision, Recall, and F1 score on the testing result.
accuracy = 11/12
#precision = true positive predictions / all positive predictions
precision = 8/8
# recall = correctly predicted positive observations / all true positive observations
recall = 8/9
# F1 Score = 2*(Recall * Precision) / (Recall + Precision)
F1 = 2*(recall * precision) / (recall + precision)

print ('accuracy:', accuracy, 'precision:', precision, 'recall:', recall, 'F1:', F1)

accuracy: 0.9166666666666666 precision: 1.0 recall: 0.8888888888888888 F1: 0.9411764705882353