In [1]:
#tutorial: https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.CategoricalNB.html#sklearn.naive_bayes.CategoricalNB
#tutorial: https://stackabuse.com/the-naive-bayes-algorithm-in-python-with-scikit-learn/
import pandas as pd
import numpy as np
from sklearn.naive_bayes import CategoricalNB

df_train = pd.read_csv("football2.csv")
df_test = pd.read_csv("football3.csv")

In [2]:
#turn categories into numbers
df_train['Decision'] = df_train.Decision.map({'Lose': 0, 'Win': 1})
df_train['home_away'] = df_train.home_away.map({'Away': 0, 'Home': 1})
df_train['opponent'] = df_train.opponent.map({'Out': 0, 'In': 1})
df_train['media'] = df_train.media.map({'1-NBC': 0, '4-ABC': 1, '2-ESPN': 2, '3-FOX': 3, '5-CBS': 4})
df_train.head()

   id   university  home_away  opponent  media  Decision
0   1        Texas          1         0      0         1
1   2     Virginia          1         1      0         0
2   3  GeorgiaTech          0         0      2         1
3   4        Umass          0         0      3         1
4   5      Clemson          1         0      0         1

In [3]:
#turn categories into numbers
df_test['Decision'] = df_test.Decision.map({'Lose': 0, 'Win': 1})
df_test['home_away'] = df_test.home_away.map({'Away': 0, 'Home': 1})
df_test['opponent'] = df_test.opponent.map({'Out': 0, 'In': 1})
df_test['media'] = df_test.media.map({'1-NBC': 0, '4-ABC': 1, '2-ESPN': 2, '3-FOX': 3, '5-CBS': 4})
df_test.head()

   id     university  home_away  opponent  media  Decision
0  25         Temple          1         0      0         1
1  26        Georgia          1         1      0         0
2  27  BostonCollege          0         0      2         1
3  28  MichiganState          0         0      3         1
4  29      MiamiOhio          1         0      0         1

In [5]:
#build model
x_train = df_train[['home_away','opponent','media']].to_numpy()
y_train = df_train[['Decision']].to_numpy().ravel()
model = CategoricalNB().fit(x_train, y_train)

In [6]:
#make predictions
x_test = df_test[['home_away','opponent','media']].to_numpy()
y_test = df_test[['Decision']].to_numpy().ravel()

predicted = model.predict(x_test)
predicted

array([1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0], dtype=int64)

In [7]:
#Calculate Accuracy, Precision, Recall, and F1 score on the testing result.
accuracy = np.mean(predicted == y_test)
#precision = true positive predictions / all positive predictions
precision = 7/7
# recall = correctly predicted positive observations / all true positive observations
recall = 7/9
# F1 Score = 2*(Recall * Precision) / (Recall + Precision)
F1 = 2*(recall * precision) / (recall + precision)

print ('accuracy:', accuracy, 'precision:', precision, 'recall:', recall, 'F1:', F1)

accuracy: 0.8333333333333334 precision: 1.0 recall: 0.7777777777777778 F1: 0.8750000000000001